* {
    overflow: hidden;
}

body {
    min-width: 400;
}

.container-fluid {
    margin-bottom: 0;
}

h1 {
    margin-top: 10vh;
}

@media (min-width: 400px) and (max-width: 600px) {
    #img1 {
        height: 104px;
        width: 200px;
    }
    #img2 {
        height: 104px;
        width: 200px;
    }
    h1 {
        margin-top: 2vh;
        font-size: medium;
    }
    #knapp1 {
        margin-top: 1vh;
    }
    #knapp2 {
        margin-top: 1vh;
    }
    p {
        font-size: medium;
    }
    #börja {
        font-size: large;
    }
}
@media (min-width: 601px) and (max-width: 800px) {
    #img1 {
        height: 150px;
        width: 300px;
    }
    #img2 {
        height: 150px;
        width: 300px;
    }
    h1 {
        margin-top: 2vh;
        font-size: x-large;
    }
    #knapp1 {
        margin-top: 1vh;
    }
    #knapp2 {
        margin-top: 1vh;
    }
    p {
        font-size: x-large;
    }
    #börja {
        font-size: x-large;
    }
}
@media (min-width: 801px) and (max-width: 1200px) {
    #img1 {
        height: 200px;
        width: 400px;
    }
    #img2 {
        height: 200px;
        width: 400px;
    }
    h1 {
        margin-top: 2vh;
        font-size: xx-large;
    }
    #knapp1 {
        margin-top: 1vh;
    }
    #knapp2 {
        margin-top: 1vh;
    }
    p {
        font-size: xx-large;
    }
    #börja {
        font-size: xx-large;
    }
}


#börja {
    margin-bottom: 3vh;
}

#knapp1 {
    margin-top: 5vh;
}

#knapp2 {
    margin-top: 5vh;
}

#topbar-text {
    padding-top: 1vh;
    font-weight: bold;
    font-size: larger;
}

#toppen-text {
    padding-top: 1vh;
    font-weight: bold;
    font-size: xx-large;
}

#vänster, #höger {
    height: 100vh;
    background-color: rgb(255, 200, 0);
}

.animation-grön {
    height: 100%;
    width: 50%;
    top: -100%;
    background-color: yellow;
    animation: color-transition-grön 1s linear forwards;
  }

  /* Define the animation */
@keyframes color-transition-grön {
    0% {
        top: -100%;
        background-color: yellow;
    }
    100% {
        top: 0;
        background-color: green;
    }
}


.animation-röd {
    height: 100%;
    width: 50%;
    top: -100%;
    background-color: yellow;
    animation: color-transition-röd 1s linear forwards;
  }

  /* Define the animation */
@keyframes color-transition-röd {
    0% {
        top: -100%;
        background-color: yellow;
    }
    100% {
        top: 0;
        background-color: red;
    }
}
